*{

}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {height: fit-content;
  background: #FAF7F2;
  
  margin: 0;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 0;
  font-family: sans-serif;
  color: black;
}

.header {
  background-image:  url("./public/assets/iteration-1/home-banner.png");
  background-size: cover;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem;
  margin: 0 auto;
  align-items: center;
}

.header h1 {
  font-family: Londrina Solid;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  
}

.header p1 {
  font-size: 1rem;
  text-align: center;
}
.header p2 {
  font-size: 2rem;
  text-align: center;
}

.header button {
  background-color: yellow;
  color: red;
  border: none;
  border-radius: 5px;
  
  width: 20%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.emoji {
  width: 100%;
  background-color: #FAF7F2;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.emoji-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.emoji-item img {
  margin-right: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  margin: auto;
  width: 531px;
height: 449px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;

}
.sag{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-section {
  display: flex;
  flex-direction: column;
}

.content-section-image {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.content-section-image img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.content-section-text {
  text-align: center;
  overflow: hidden;
}

.content-section-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-section-text span {
  display: block;
  margin-bottom: 10px;
}

.content-section-text button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}



.title h2 {
  font-size: 32px;
  font-weight: bold;
}
 
/** bos .cubuk { 
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.button-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  color: yellow;
  border-color: #007bff;
}

.button2 {
  background-color: #5F5F5F;
  
  border-radius: 11px;
  width: Hug (146.72px)px;
height: Hug (66px)px;
padding: 12px 20px 12px 20px;
gap: 10px;


}
.button-container :hover{
  background: black;
}


.products {
  display: flex;
  justify-content: space-between;
}

.products-item {
  width: 32%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.products-item-image {
  width: 100%;
  margin-bottom: 10px;
}

.products-item-image img {
  width: 100%;
  height: auto;
}

.products-item-text {
  text-align: center;
}

.products-item-text h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.products-item-text div {
display: inline-table   ;
}

.footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 0;
  padding: 2rem;
  
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
}

.instagram {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}

@media screen and (max-width: 900px) {
  .emoji{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
 .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .products{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .button-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .footer{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
}